/* Instructions pour les découpages géographiques */

.hidden{
	display:none;
}

.bordure{
	stroke:#050d9e;
	stroke-opacity:1;
	stroke-width:6px;
	fill-opacity:0;
}
.tchBg{
	fill:#61a97a;
	fill-opacity:1;
}

.whiteBg, .legendeBg{
	fill-opacity:1;
	fill:#fffcf5;
}
.lightGreyBg{
	fill-opacity:1;
	fill:#eef0f2;
}
.greyBg{
	fill-opacity:1;
	fill:#dfe2e9;
}
.bgMer{
	fill-opacity:1;
	fill:#bcd8e5;
}
.bgFleuve{
	fill-opacity:0;
	stroke-opacity:1;
	stroke-width:8;
	stroke:#bcd8e5;
}
.bgForet{
	fill-opacity:0.5;
	fill:#cbe6d6;
}


#calqueBusRenforceLignes path,
.LigneBusRenforce {
	fill:none;
	stroke-opacity:1;
	opacity:1;
	stroke-width:4px;
}
#calqueBusRenforceLignes .BordureLigne,
.LigneBusRenforce.BordureLigne{
	stroke-width:7px;
}
/* Couleur des lignes */
.BusRenforceTrace{ stroke:#6d7d89; }

#calqueFuniculaireLignes path,
.LigneFuniculaire {
	fill:none;
	stroke-opacity:1;
	opacity:1;
	stroke-width:11px;
}
#calqueFuniculaireLignes .BordureLigne,
.LigneFuniculaire.BordureLigne{
	stroke-width:14px;
}
.F1Trace{ stroke:#84ca58; }
.F2Trace{ stroke:#84ca58; }

#calqueMetroLignes path,
.LigneMetro {
	fill:none;
	stroke-opacity:1;
	opacity:1;
	stroke-width:16px;
}
#calqueMetroLignes .BordureLigne,
.LigneMetro.BordureLigne{
	stroke-width:19px;
}
.MetroATrace{ stroke:#fb47a2; }
.MetroBTrace{ stroke:#0082ca; }
.MetroCTrace{ stroke:#ff9929; }
.MetroDTrace{ stroke:#1ab14d; }

#calqueTramwayLignes path,
.LigneTramway {
	fill:none;
	stroke-opacity:1;
	opacity:1;
	stroke-width:8px;
}
#calqueTramwayLignes .BordureLigne,
.LigneTramway.BordureLigne{
	stroke-width:11px;
}
.T1Trace{ stroke:#773b9f; }
.T2Trace{ stroke:#773b9f; }
.T3Trace{ stroke:#773b9f; }
.T4Trace{ stroke:#773b9f; }
.T5Trace{ stroke:#773b9f; }
.T6Trace{ stroke:#773b9f; }
.T7Trace{ stroke:#773b9f; }
.T9Trace{ stroke:#773b9f; }
.T10Trace{ stroke:#773b9f; }

#calqueRhonexpressLignes path,
.LigneRhonexpress{
	fill:none;
	stroke-opacity:1;
	opacity:1;
	stroke-width:5px;
}
#calqueRhonexpressLignes .BordureLigne,
.LigneRhonexpress.BordureLigne{
	stroke-width:8px;
}
.RhonexpressTrace{ stroke:#c62522; }

.ProjetTrace{ stroke-dasharray:16 9; }
#calqueTramwayLignes .ProjetTrace{ stroke-dasharray:12 4; }

.BordureLigne{
	fill:none;
	stroke:black;
}

.liaisonUrbaine{
	stroke:#000000;
	stroke-width:2px;
	stroke-dasharray:4 3;
}
.liaisonStation{
	fill:none;
	stroke:#ffffff;
	stroke-width:3.5px;
}
.liaisonStationBg{
	fill:none;
	stroke:#000000;
	stroke-width:7px;
}

/* Instructions pour le texte en français */
text.fr{
	font-family: "Overpass", sans-serif;
}
text.terminus.fr{
	font-weight: 800;
}
text.metro.fr:not(.terminus){
	font-weight: 500;
}
text.bus.fr:not(.terminus){
	font-weight: 400;
}

text.terminus.metro.fr{
	font-size: 18px;
}
text.metro.fr,
text.terminus.tramway.fr,
text.terminus.funiculaire.fr{
	font-size: 18px;
}
text.tramway.fr,
text.funiculaire.fr,
text.terminus.bus.fr{
	font-size: 15px;
}
text.bus.fr{
	font-size: 12px;
}

text.condition.fr{
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
}


text.metro.fr .indice,
text.terminus.metro.fr .indice,
text.terminus.tramway.fr .indice,
text.terminus.funiculaire.fr .indice{
	font-size: 12px;
}
text.tramway.fr .indice,
text.funiculaire.fr .indice,
text.terminus.bus.fr .indice{
	font-size: 10px;
}
text.bus.fr .indice{
	font-size: 8px;
}


.italic{
	font-style: italic;
}
.couleurTitre,
.texteTitre,
.texteTitreMoyen,
.texteTitrePetit,
.texteLegende{
	fill: #050d9e;
}
.texteLieuDit{
	fill: #704b1c;
	font-style: italic;
}